
body {
  background-color: grey;
  display: grid;
  grid-template-areas: "nav nav" "preview wave";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 1em;
}

nav { grid-area: nav; }
aside { grid-area: preview; }
main { grid-area: wave; }

canvas {
  --wave-color: firebrick;

  background-color: white;

  max-width: 100%;
  /* max-width: min(100%, 1600px); */
  /* max-width: min(100%, 800px); */
  /* max-height: 85%; */
  /* aspect-ratio: 16 / 9; */
}

canvas#preview {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  min-width: 4em;
}