

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	font-size: inherit;
	font-family: inherit;
}

body {
	background-color: #bababa;
	color: black;

	font-family: Verdana, Geneva, Tahoma, sans-serif;

	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-block: 1em;
	padding-inline: 1em;
}

form {
	display: flex;
	gap: 1em;
}

button#togglePreview {
	padding-block: 0.5em;
	padding-inline: 2ch;
}

main {
	display: flex;
	flex-direction: row;
	position: relative;

	padding-inline: 0.5em;
	width: 100%;

	gap: 0;
	transition: gap 500ms;
}

main:has(section#sectionPreview[data-preview]) {
	gap: 1em;
}

main:has(section#sectionPreview[data-preview]) > section {
	width: 50%;
}


main:not(:has(section#sectionPreview[data-preview])) > section:not([data-preview]) > canvas {
	background-color: transparent;
	box-shadow: none;
}

section {
	width: 100%;
	transition: width 500ms;
}

section#sectionPreview {
	width: 0;

	&[data-preview] {
		& > canvas {
			transform: translateX(0);;
			left: 0;
		}
	}

	& > canvas {
		position: relative;
		left: -500px;
		transform: translateX(-800%) scale(5);
		transition: transform 300ms ease-in-out, left 300ms;
	}
}


canvas {
	--wave-color: firebrick;

	background-color: whitesmoke;
	max-width: 100%;
	width: 100%;

	box-shadow: 0 2px 4px rgb(0 0 0 / 0.125);

	transition: background-color 1s;
}

@media (max-width: 800px){
	main {
		flex-direction: column;
		align-items: center;
	}

	main:has(section#sectionPreview[data-preview]) > section {
		width: 75%;
	}
}